.gradient-background {
<<<<<<< HEAD
    background: linear-gradient(300deg, #87e384, #ff4c68, #ef8172);
=======
    background: linear-gradient(300deg, #79eb75, #ff4c68, #ef8172);
>>>>>>> d7955b05d7e597c91431efcfe9f9018fe424c495
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }
  
  .profile-img {
    border-radius: 50%;
    height: 100px;
  }
  .title {
    font-family: 'DM Serif Display', serif;
    font-size: 250px;
    text-align: center;
    top: 30px;
    color:antiquewhite;
    margin-top: 230px;
  }
  #slogan {
  font-family: 'DM Serif Display', serif;
  font-family: 'Titillium Web', sans-serif;
  font-size:50px;
  text-align: center;
  margin-top: -55px;
  
  }
  .center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
  }
  .btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin-top: 230px;
  }
  
  .overlay {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
    top: 0%;
  }
  #closeIcon {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  font-size: 24px; /* Adjust the font size as needed */
  color: #000051; /* Adjust the color as needed */
  cursor: pointer;
}

  
  .overlay.open {
    display: flex;
    animation: show-overlay 0.5s;
  }
  
  @keyframes show-overlay {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .login {
    padding: 110px 85px;
    background: white;
    border-radius: 10px;
  }
  
  .header {
    position: relative;
  }
  
  .header h1 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #000051;
    padding-bottom: 7px;
    border-bottom: 2px solid #000051;
  }
  
  .header i {
    position: absolute;
    top: 0px;
    right: 150px;
    font-size: 80px;
    color: #000051;
  }
  
  .body .form input {
    display: block;
    padding: 10px;
    margin: 25px 10px;
    outline: none;
    border: solid #000051 1px;
    color: #000051;
    transition: 0.4s;
  }
  
  .body .form input:focus {
    border-color: #534bae;
  }
  
  .footer {
    position: relative;
    height: 40px;
    width: 100%;
  }
  
  .footer button {
    position: absolute;
    padding: 10px;
    min-width: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: #000051;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .footer button:hover {
    background: #534bae;
  }

<<<<<<< HEAD





=======
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed to center vertically */
    margin-top:-100px;
  }
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
#button1 {
  margin-top:-360px;
}
#button2 {
  margin-top:-730px;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}