<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles3.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='script.js')}}"></script>
    <title>Create</title>
</head>
<body class="gradient-background">
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Create An Account</header>
                <form action="#">
                    <div class="field input-field">
                        <input type="text" placeholder="Username" class="input">
                    </div>
                    <div class="field input-field">
                        <input type="text" placeholder="Password" class="input">
                    </div>
                    <div class="field input-field">
                        <input type="radio" id="male" name="fav_language" class="input" value="male">
                          <label for="male">Male</label><br>
                    </div>
                    <div class="field input-field">
                        <input type="radio" id="female" name="fav_language" class="input" value="female">
                          <label for="female">Female</label><br>
                    </div>
                    <div class="field button-field">
                        <button id="loginspotify">Create Account</button>
                    </div>
                </form>
            </div>
    </section>

    
</body>
</html>