<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles4.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Authentication</title>
</head>
<body class="gradient-background">
    <form action="/authenticate" method="get">
    <a href="#">
        <div class="g-sign-in-button  center">
            <div class="content-wrapper">
                <div class="logo-wrapper ">
                    <img src="https://m.media-amazon.com/images/I/31B2Nyzd8XL.png">
                </div>
                <button class="text-container">
                    Sign into Spotify
                </button>
            </div>
        </div>
    </a>
    </form>
</body>
</html>